*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
    height: 1.28rem;
    padding-top: 0.32rem;
    box-sizing: border-box;
    /*overflow: hidden;*/
    font-size: 0.38rem;
    color: black;
    text-align: center;
    line-height: 0.96rem;
    position: relative;
    /*margin-bottom: 0.2rem;*/
    background: white;
}
header .right{
    width: 1.72rem;
    height: 0.62rem;
    float: right;
    border: 0.01rem solid #E8E8E8;
    border-radius: 0.5rem;
    position: absolute;
    top:0.49rem;
    right:0.15rem;
    line-height: 0.62rem;
}
header .right .icon-more,.icon-center{
    font-size: 0.38rem;

}
header .right span{
    display: inline-block;
    margin: 0  0.1rem;
}

.in{
    width: 100%;
    height: 9.8rem;
    /*background: yellow;*/
    margin-top: 0.2rem;
    padding: 0 0.18rem;
    box-sizing: border-box;
}
.inside{
    width: 100%;
    height: 100%;
    /*background: green;*/
}
.everyone{
    width: 100%;
    height: 1.95rem;
    border-bottom: 0.03rem solid #f2f2f2;
    box-sizing: border-box;
    position: relative;
}
.everyone ul{
    width: 5rem;
    height: 1.92rem;
    /*background: coral;*/
    overflow: hidden;
}
.everyone ul li:first-child{
    margin-top: 0.35rem;
    margin-left: 0.28rem;
    font-size: 0.3rem;
}
.everyone ul li:nth-child(2){
    margin-top: 0.22rem;
    margin-left: 0.28rem;
    font-size: 0.23rem;
    color: #666666;
}
.everyone ul li:nth-child(3){
    margin-top: 0.22rem;
    margin-left: 0.28rem;
    font-size: 0.23rem;
    color: #666666;
}
.everyone span{
    font-size: 0.22rem;
    color: #44afff;
    position: absolute;
    top: 0.43rem;
    right: 0;
}

.orderup{
    width: 100%;
    height: 1rem;
    border-top: 0.01rem solid red;
    box-sizing: border-box;
    margin-top: 1.06rem;
}