*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: none;
    font-family: "苹方 常规";
    font-size: 0.22rem;
}
a{
    text-decoration: none;
}
body{
    background: #F3F3F3;
}

/*头部*/
header{
    width: 100%;
    height: 0.96rem;
    padding-top: 0.32rem;
    overflow: hidden;
    font-size: 0.38rem;
    color: black;
    text-align: center;
    line-height: 0.96rem;
    position: relative;
    margin-bottom: 0.2rem;
    background: white;
}
header .right{
    width: 1.72rem;
    height: 0.62rem;
    float: right;
    border: 0.01rem solid #E8E8E8;
    border-radius: 0.5rem;
    position: absolute;
    top:0.49rem;
    right:0.15rem;
    line-height: 0.62rem;
}
header .right .iconfont{
    font-size: 0.38rem;
}
header .right span{
    display: inline-block;
    margin: 0  0.1rem;
}


nav{
    width: 100%;
    height: .88rem;
    background: white;
    padding: 0 .24rem;
    box-sizing: border-box;
    margin-top: .2rem;


}
nav h2{
    font-size: .28rem;
    color: #666;
    line-height: .88rem;
    float: left;
}
nav span{
    width: .38rem;
    height: .38rem;
    background: #44b2ff;
    border-radius: 50%;
    margin-left: .2rem;
    margin-top: .25rem;
    display: block;
    float: left;
    font-size: .22rem;
    color: white;
    line-height: .38rem;
    text-align: center;
}
.section{
    width: 100%;
    height: 4.2rem;
    background: #fff;
    margin-top: .2rem;
    overflow: hidden;

}
.section .head{
    width: 100%;
    height: .52rem;
    margin-top: .29rem;
    padding: 0 .24rem;
    box-sizing: border-box;
    text-align: center;

}
.section .head i{
    width: .28rem;
    height: .28rem;
    font-size: .36rem;
    color: #44b2ff;
    display: block;
    margin-top: .1rem;
    float: left;

}
.section .head h2{
    width: 1.5rem;
    height: 100%;
    font-size: .28rem;
    color: #000000;
    line-height: .52rem;
    float: left;
}
.section ul{
    width: 100%;
    height: 3.2rem;
}
.section ul li{
    width: 100%;
    height: .8rem;
    padding: 0 .24rem;
    box-sizing: border-box;
}
.section ul li h1{
    width: 2.08rem;
    height: .8rem;
    font-size: .22rem;
    line-height: .8rem;
    color: #333;
    float: left;
    margin-left: .44rem;
}
.section ul li span{
    width: 1rem;
    height: 100%;
    font-size: .22rem;
    line-height: .8rem;
    float: right;
    color: #44afff;
}
.section1{
    height: auto;
}
.section1 ul{
    height: 100%;
    padding: 0 .24rem;
    box-sizing: border-box;
    padding-bottom: .98rem;
}
.section1 ul li{
    height: 2rem;
    margin-top: .24rem;
    box-shadow: 0 .03rem .03rem .03rem rgba(246,246,246,1);
}
.section1 ul li .left{
    width: 1.6rem;
    height: 1.6rem;
    margin-top: .2rem;
    margin-left: .32rem;;
    float: left;
}
.section1 ul li .left img{
    width: 100%;
    height: 100%;
    margin-top: .1rem;
    display: block;
}
.section1 ul li .right{
    width: 4.5rem;
    height: 1.6rem;
    float: right;
    margin-top: .2rem;
}
.section1 ul li .right h3{
    width: 100%;
    height: .3rem;
    font-size: .3rem;
    line-height: .3rem;
    color: #000;
    font-weight: normal;
}
.section1 ul li .right h4{
    width: 100%;
    height: .28rem;
    font-size: .28rem;
    line-height: .28rem;
    color: #000;
    font-weight: normal;
    margin-top: .39rem;
}
.section1 ul li .right h5{
    width: 100%;
    height: .28rem;
    font-size: .28rem;
    line-height: .28rem;
    color: #000;
    font-weight: normal;
    margin-top: .18rem;
}
.section1 ul li .right h5 i{
    color: #1fafff;
    font-style: normal;
    font-size: .28rem;
}
.section1 ul li .right h5 b{
    color: #ffc600;
    font-weight: normal;

    font-size: .28rem;
    margin-left: .2rem;
}
footer{
    width: 100%;
    height: .98rem;
    background: white;
    border-top: .01rem solid #aeaeae;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
}
footer ul{
    width: 100%;
    height: 100%;
    padding: 0 .72rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
footer ul li{
    width: 1rem;
    height: 1rem;
    font-size: .18rem;
    text-align: center;
}
footer ul li .iconfont{
    font-size: .5rem;
    color: #999;
    display: block;
    margin: .05rem 0 .05rem;
}